[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[ghq]
	root = ~/ghq
[user]
	name = Soh
	email = 110469813+bubbleShaker@users.noreply.github.com
